<ion-slides [options] ="slideOpts">
  <ion-slide *ngFor="let pelicula of peliculas | filtroImagen">
   <ion-card mode="md" (click)="verDetalle(pelicula.id)">
     <img class="poster animated fadeIn fast" [src]="pelicula.poster_path| imagen">
   </ion-card>
  </ion-slide>
</ion-slides>