<ion-content>
 
  <img [src]="pelicula.backdrop_path | imagen" *ngIf="pelicula.backdrop_path">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" class="poster-detalle-sobre">
        <ion-card class="posterDetalle">
          <img [src]="pelicula.poster_path | imagen" *ngIf="pelicula.poster_path" class="posterDetalle">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-item>
          <p>{{ pelicula.title }}</p>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="thumbs-up" color="primary"></ion-icon>
          <ion-label>Raiting</ion-label>
          <ion-note slot="end" color="primary">
            {{pelicula.vote_average}}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="people" color="primary"></ion-icon>
          <ion-label>Votos</ion-label>
          <ion-note slot="end" color="primary">
            {{pelicula.vote_count}}
          </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label>{{ pelicula.overview | slice: 0: oculto }}</ion-label>
        <ion-label color="primary" (click)="oculto = 5000" *ngIf="oculto !== 5000 && pelicula.overview">...Leer más</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col size="12">
        <ion-label color="primary"><b>Genero(s)</b></ion-label><br>
        <ion-chip *ngFor="let genero of pelicula.genres" color="primary">
          <ion-label>{{genero.name}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label color="primary"><b>Actores</b></ion-label><br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOptActores">
    <ion-slide *ngFor="let actor of actores">
      <ion-card class="card-actor">
        <img *ngIf="!actor.profile_path" src="/assets/no-avatar.jpg" class="animated fadeIn fast">
        <img *ngIf="actor.profile_path" [src]="actor.profile_path | imagen" class="animated fadeIn fast">
        <ion-label class="actor-name" color="primary">{{actor.name}}</ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" color="primary">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        <ion-label >Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="favorito()" color="primary">
        <ion-icon slot="start" [name]="star"></ion-icon>
        <ion-label>Añadir a Favoritos</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
