<ion-header [translucent]="true" no-border>
  <ion-toolbar mode="ios"> 
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-text-center">
  <br><br>
  <ion-label class="titulo">Películas. ¿Qué ver hoy?</ion-label>
  <br><br>
  <ion-img src="./assets/icon.png" href="https://www.themoviedb.org/?language=es/" class="animated fadeIn fast logo"></ion-img><br>
  <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
  <br>
  <ion-label class="labelDesarrollado">Desarrollada por:</ion-label>
  <br><br>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label>Valentîn Abundo</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button href="mailto:nitnelav_ah@hotmail.com" fill="clear">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-button>
        <ion-button href="https://play.google.com/store/apps/developer?id=Nitnelav+AH&hl=es" fill="clear">
          <ion-icon slot="icon-only" name="logo-google-playstore"></ion-icon>
        </ion-button>
        <ion-button href="https://wa.me/527221418583" fill="clear">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <a href="https://www.themoviedb.org/?language=es">Este producto utiliza la API TMDb pero TMDb no lo respalda ni certifica.</a>

</ion-content>
