<ion-content>

  <div style="text-align: right;">
    <ion-button (click)="redireccionar()" fill="clear" size="large">
      <ion-icon color="primary" slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
  </div>
  
  <ion-slides class="noFav" [options]="sliderOpts" *ngIf="peliculas.length === 0">
    <ion-slide class="noFav">
      <ion-label color="primary">No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>
 

 <div *ngFor="let pelicula of favoritoGenero">
   <ion-grid *ngIf="pelicula.peliculas.length > 0">
     <ion-row>
       <ion-col>
         <h4>{{pelicula.genero}}</h4>
       </ion-col>
     </ion-row>
     <app-slideshow-poster [peliculas]="pelicula.peliculas" (load)="cargarDatos($event)"></app-slideshow-poster>
   </ion-grid>
 </div>
</ion-content>

