

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col class="head1">Lo mas reciente</ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="head2">Cartelera</ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="head2">Populares</ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [peliculas]="populares"
                       (cargarMas)="cargarMas()">
  </app-slideshow-pares>
  

</ion-content>
