<ion-slides [options] ="slideOpts">
  <ion-slide *ngFor="let pelicula of peliculas | filtroImagen">
   <ion-card (click)="verDetalle(pelicula.id)">
     <img [src]="pelicula.backdrop_path | imagen" class="animated fadeIn fast">
   </ion-card>
  </ion-slide>
</ion-slides>